@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}

*{
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body{  
    /* background-color: #faf9f9; */
    /* background-color: #f7f7f7; */ 
    background-color: #222222;
    /* background-color: #252525; */

    /* background: linear-gradient(135deg, #111827, #000000); */
    
}

.bg_container{ 
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.041);  */
    background-color: #faf9f9;
}
 
.about_bg {
    animation: fadeUp 0.8s ease-out both;
}

.fade_up_anim{
    animation: fadeUp 0.8s ease-out both; 
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.container{
    /* outline: 1px solid red; */
} 

.line_breaker{
    outline: 1px solid #0151ffd5;
    width: 30px; 
}

.postion_title_text{
    letter-spacing: 3px;
    font-weight: 350;
}

.nav_postion_title_text{ 
    font-weight: 600;
    letter-spacing: 0.1px;
    font-size: 20px;
    color: #ffffff;
}

.profile_container{
    animation: fadeUp 0.8s ease-out both;
    /* outline: 1px solid red; */  
    background-color: #f5ece7;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.25); 
}

.profile_container_padding{ 
    padding: 30px;    
}

.profile_pic_image {
    width: 50%;
    height: 40%;
    border-radius: 50%;
    object-fit: cover;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);  
} 

.links_contact_container{
    /* outline: 1px solid red; */
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.068);  
    height: 50px;
    width: 100%;
    padding: 35px;
    align-items: center; 
}

.hello_text{
    font-size: 70px;
}
 
.caption_text{
    font-size: 22px;
    font-weight: 600;
}

.btn_white_text{
    color: rgb(39, 39, 39);
}


/* Profile Section */
.projects_container{
    background-color: #f5ece7; 
    padding: 20px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);  
}

.project_img_container{
    width: 80%;
}

.web_images{
    box-shadow: 0 16px 25px rgba(0, 0, 0, 0.25);  
}

.project_head_text{
    color: #0f66fc;
}

.background_container{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.082);   
}

.send_message_btn{
    background-color: #4488fd;
}


.project_title_text{ 
    font-size: 35px;
    font-weight: 700;
}

.project_title_image_text{ 
    font-size: 16px;
    font-weight: 600;
}


.arduino_images{
    box-shadow: 0 16px 25px rgba(0, 0, 0, 0.25);   
}

.logo_text{
    color: #000dff;
}

.nav_color{
    color: rgb(39, 39, 39);
    font-size: 15px;
    margin-top: 10px;
}

.topNav {
    border-radius: 50px;
    outline: none; 
    transition: all 0.3s ease; 
}
.topNav a {
    color: black;
    text-decoration: none;
}

.jan_name_text{
    color: black;
}

.about_container{ 
    height: 75vh;
    padding: 10px 50px;
    /* outline: 1px solid red;   */
}

.main_container{
    /* outline: 1px solid red;   */
    background-color: #ffffff;
}

.category_container{
    outline: 1px solid rgb(238, 238, 238);
}

.shaded_container{
    background-color: #f8f8f8;
}

.body_container{ 
    background-color: #ffffff;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.12);
    /* outline: 1px solid red; */
}

.resume_btn{
    background-color: rgb(32, 32, 32);
    color: white;
}


.resume_btn:hover{
    background-color: rgb(90, 89, 89);
    color: rgb(32, 32, 32);
}

.heading1{
    font-size: 6vh
}

.heading2{
    font-size: 2vh
}

.project_container{
    background-color: rgb(247, 247, 247);  
}

.project_container_img{ 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* smooth shadow */
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.skill_container{
    outline: 1px solid rgb(216, 216, 216);
}